.login-container{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.login-main-title{
    font-size: 59px;
}

.card{
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
}   