/* Banner Component Style */
.banner-container{
    background-image: linear-gradient( rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1)100%),url('../../../img/banner3.png');
    background-repeat: none;
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    width: 100%;
    height: 91vh; 
}
    .centered {
        position: absolute;
        top: 55%;
        left: 62%;
        transform: translate(-50%, -50%);
      }

/* media query for mobile devices  */
@media only screen and (max-width: 600px) {
        .centered {
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
 }