/* Service Component Style */

.service-centered {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
  }

.service-button{
    margin-right: 120px;
}



.image-text-background { 
  background-color: rgba(7, 4, 4, 0.5);
}


/* media query for mobile devices  */
@media only screen and (max-width: 600px) {
  .service-centered {
      position: absolute;
      top: 32%;
      left: 31%;
      transform: translate(-50%, -50%);
    }
}
